<%- include("partials/header") %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    </head>

    <body>
        <div class="box">
            <div class="main">
                <div class="heading">
                    <h1>Weather Api</h1>
                </div>

                <div class="background"><img src="https://freepngimg.com/thumb/weather/23538-1-weather-clipart.png"
                        alt="" class="src">
                </div>

                <div class="form">
                    <form action="/" method="POST">
                        <div class="city"><label for="city">City:</label></div>
                        <input type="text" id="city" name="city" placeholder="Enter city name">
                        <button class="button" type="submit" name="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include("partials/footer") %>