@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    color:#eeeeee;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5rem;
}  
body{
    position: relative;
    background-color:#222831;
}

.main{
    background-color:#393e46;
    border:2px solid;
    box-sizing:border-box;
    box-shadow:0px 0px 20px #00adb5;
    width:30%;
    height:35%;
    margin:3% auto;
    padding:3%; 
    position :relative;
}

.heading{
    margin-top:1%;
    text-align:center;
}
.background{
    text-align:center;
}
.background img{
    width:100%;
}
.form{
    text-align:center;
    position :relative;

}
.city{
    font-size:40%;
    position:relative;
    width:50%;
    margin:2% auto;
}
input[type=text]{
    font-size:50%;
    color:black;
    padding:2%;
    border-radius:5px;
    margin-bottom:.3%;
    width:70%;
    margin:2% auto;
}
.button {
    padding:2% 2%;
    display: block;
    position:relative;
    width:50%;
    margin:4% auto;
    background-color:#393e46;
    color:white;
    border:1px solid #00adb5;
    font-size:60%;
    cursor:pointer;
    border-radius: 5px;
    transition:0.3s;

}
.button:hover{
 
    box-shadow: 0 0 5px #00adb5;
    border-radius: 5px;
    color:#00adb5;
}

@media only screen and (max-width: 1200px) {
  .main{
    
    width:60%;
    height:auto;
    margin:5rem auto; 
}
}
@media only screen and (max-width: 600px) {
  .main{
    
    width:80%;
    height:auto;
    margin:5rem auto; 
}
}